.planetmarker {
  position: absolute;
  z-index:1;
  background-color: #ff9999;
  opacity: 0;
  width:20px;
  height:20px;
}
.circulo {
 position: absolute;
 width: 30px;
 height: 30px;
 -moz-border-radius: 50%;
 -webkit-border-radius: 50%;
 border-radius: 50%;
 background: #5cb85c;
 opacity: 0;
}
.inline-block {
  display: inline-block;
}